@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background: linear-gradient(to right, rgb(229, 134, 134), blue);
    border-radius:16%;
    color: #fff;
}
.leaflet-container {
    width: 70%;
    height:80vh;
    border-radius: 30px;
}
